header {
      width: 100%;
      height: 100vh;
      background: url(../images/shanghai_sports.jpg) no-repeat 50% 50%;
      background-size: cover;
}

.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 100;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }
}

h2.section_title {
    text-align: center;
    color: blue;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2%;
}

h2.header_title {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2%;
}

.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.color-fade {
    background-color: #4793ea;
    background: -webkit-linear-gradient(#4793ea, #fcd233 65%);
    background:    -moz-linear-gradient(#4793ea, #fcd233 65%);
    background:         linear-gradient(#4793ea, #fcd233 65%);
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 75%;
  height: 300px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 75%;
  vertical-align: middle;
}

/* Fading animation */
.slidein {
  -webkit-animation-name: slidein;
  -webkit-animation-duration: 1.5s;
  animation-name: slidein;
  animation-duration: 1.5s;
  margin-top: 20%;
}

@-webkit-keyframes slidein {
  from {
       margin-left: 100%;
       width: 100%;
  } 

  to {
       margin-left: 0%;
       width: 100%;
  }
}

@keyframes slidein {
  from {
       margin-left: 100%;
       width: 100%;
       opacity: 0;
  } 

  to {
       margin-left: 0%;
       width: 100%;
       opacity: 1;
  }
}

/* Stats color */
.stats-color {
    height: 200px;
    background-color: #fafafa;
    text-align: center;
    color: blue;
    font-weight: bold;
    padding-top: 5%;
    padding-bottom: 2%;
}

.small-margin {
    margin-left: 2%;
    margin-right: 2%;
}

.puc-main-footer .main-footer {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 250px
}

.puc-main-footer .main-footer .footer-big {
    padding: 30px 0
}

@media (min-width: 992px) {
    .puc-main-footer .main-footer .footer-big {
        padding: 40px 0
    }
}

.puc-main-footer .main-footer .footer-big a {
    font-size: 14px;
    line-height: 1.6;
    color: #eee
}

.puc-main-footer .main-footer .footer-big a:hover {
    text-decoration: underline
}

.puc-main-footer .main-footer .footer-big ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.puc-main-footer .main-footer .footer-big ul.social-share {
    padding-bottom: 40px
}

.puc-main-footer .main-footer .footer-big ul.social-share li {
    display: inline-block
}

.puc-main-footer .main-footer .footer-big ul.social-share li i {
    margin-left: -1px
}

.puc-main-footer .main-footer .footer-big ul.social-share li+li {
    margin-left: 10px
}

@media (min-width: 768px) {
    .puc-main-footer .main-footer .footer-big ul.social-share {
        padding-bottom: 0
    }
}

.puc-main-footer .main-footer .footer-big .btn-container {
    text-align: center;
    margin: 15px 0
}

@media (min-width: 992px) {
    .puc-main-footer .main-footer .footer-big .btn-container {
        text-align: left;
        margin: 0
    }
}

.puc-main-footer .main-footer .footer-big .btn-container>a+a {
    margin-left: 16px
}

.puc-main-footer .main-footer .footer-big .text-right {
    text-align: center
}

.puc-main-footer .main-footer .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333
}

.puc-main-footer .main-footer .footer-mini {
    padding: 30px 0;
    color: #999;
    font-size: 12px;
    line-height: 1.58
}

@media (max-width: 479px) {
    .puc-main-footer .main-footer .footer-mini {
        padding: 18px 0
    }
}

.puc-main-footer .main-footer .footer-mini p {
    margin: 0
}

@media (max-width: 479px) {
    .puc-main-footer .main-footer .footer-mini p {
        text-align: center
    }
    .puc-main-footer .main-footer .footer-mini p+p {
        margin-top: 10px
    }
}

.puc-main-footer .main-footer .footer-mini a:hover {
    text-decoration: underline
}

.collaborators {
    height: 275px;
    margin-top: 30px;
}

